<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Pokédex</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Pokédex</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Generations <span class="caret"></span></a>
                    <ul id="generation-links" class="dropdown-menu">
                        <li><a href="#" data-id="1">Generation 1</a></li>
                        <li><a href="#" data-id="2">Generation 2</a></li>
                        <li><a href="#" data-id="3">Generation 3</a></li>
                        <li><a href="#" data-id="4">Generation 4</a></li>
                        <li><a href="#" data-id="5">Generation 5</a></li>
                        <li><a href="#" data-id="6">Generation 6</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div id="generation-pokemon">
        <span>Choose a generation!</span>
        <script id="template-error" type="text/template" src="#">
            <span><%= message %></span>
        </script>
        <script id="template-generations" type="text/template" src="#">
            <% _.each(generations, function (generation, index, list){%>
                <h1><%= generation.attributes.main_region.name %></h1>
                <% _.each(generation.get('pokemon_species'), function(pokemon, index, list){ %>
                    <div class="col-md-2 deleteThis">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <%= pokemon['name'] %>
                            </div>
                            <div class="panel-body">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon['url'].split('/')[6] %>.png" class="img-responsive center-block" alt="<%= pokemon['name'] %>">
                                <div class="pokemon-links">
                                    <a class="btn btn-default" href="#" data-id="<%= pokemon['url'].split('/')[6] %>">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% }); %>
        </script>
    </div>
</div>
<div id="scrollTo" class="container">
    <div id="pokemon-details">

    </div>
</div>
<script id="template-pokemon-error" type="text/template" src="#">
    <span><%= message %></span>
</script>
<script id="template-pokemons" type="text/template" src="#">
    <div class="panel panel-default deleteThis">
        <% _.each(pokemons, function(pokemon, index, list){ %>
        <div class="panel-heading">
            <h1><%= pokemon.attributes.name %></h1>
        </div>
        <div class="panel-body">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.id %>.png" class="img-responsive center-block pokemon_details" alt="<%= pokemon['name'] %>">
            <h2>Learnable moves</h2>
            <br>
            <% _.each(pokemon.get('moves'), function(moves, index, list){ %>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= moves.move.name %>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <% }); %>
    </div>
</script>
<script type="text/javascript" src="dist/bundle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
